#colorI{
    color: var( --ion-color-primary );
    font-size: 2rem;
    padding-inline-start: 8px;
}

.styleCardTravels{
    width: 70% !important;
    margin: auto !important;
    margin-top: 1rem;
}

ion-card{
    border-radius: 10px;
}

div{
    margin-top: .5rem;
}

.people{
    size: 10px;
}
