<div *ngFor="let t of travels; let driver = index">
<ion-card  mode="ios" class="styleCardTravels">

  <ion-item lines="none" mode="ios"> 
      <ion-avatar slot="start">
      <ion-img [src]="t.photoDriver"></ion-img>
      </ion-avatar>
      <ion-label>{{ t.nameDriver }} <p>{{ t.fechaTravel }}</p></ion-label>
      <ion-icon name="ios-arrow-down" slot="end" (click)="hide()"></ion-icon>
  </ion-item>
  

<ion-list lines="none"  mode="ios">
    <ion-item  mode="ios">
        <ion-label>Salida de: {{ t.point }}</ion-label>
        <ion-note slot="end"><b><h5>{{ t.pointTime }}</h5></b></ion-note>
    </ion-item>
    <ion-item  mode="ios">
        <ion-label>Destino: {{ t.destiny }}</ion-label>
        <ion-note slot="end"><b><h5>{{t.destinyTime}}</h5></b></ion-note>
    </ion-item>
    
</ion-list>


<ion-list lines="none"  mode="ios" *ngIf="show"> 
    <ion-item *ngFor="let s of t.stops"  mode="ios">
      <ion-avatar slot="start">
        <ion-img src="../../../assets/icon/semaforo.png"></ion-img>
      </ion-avatar>
        <ion-label>{{ s }} </ion-label>
    </ion-item>
</ion-list>
<ion-item lines="none" mode="ios" *ngIf="show">
    <ion-avatar slot="start">
      <ion-img src="../../../assets/icon/caseta.png"></ion-img>
    </ion-avatar>
    <ion-label>Por:{{ t.caseta }}</ion-label>
</ion-item>    

<ion-item class="people" lines="none" mode="ios">

  <i class="fas fa-walking" id="colorI"></i>
  <i class="fas fa-walking" id="colorI"></i>
  <i class="fas fa-walking" id="colorI"></i>
  <i class="fas fa-walking" id="colorI"></i>
<ion-note slot="end"><h4><b>$ {{ t.cuota }} C/U</b></h4></ion-note>
</ion-item>
 
<ion-item lines="none"  mode="ios" *ngIf="show">  
  <i class="fas fa-eye" id="colorI" (click)="details()"></i>      
  <ion-label (click)="details()">Ver más detalles</ion-label>

  <i class="far fa-comments" id="colorI" slot="end" (click)="talk()"></i>
  <i class="fas fa-phone" id="colorI" slot="end" (click)="call()"></i>

</ion-item>

</ion-card>
</div>