<ion-header no-border>
  <ion-toolbar color="menu">
    <ion-icon class="colorT" name="arrow-back" (click)="salir()" slot="start" padding></ion-icon>
      <ion-title class="colorT">Paola Ramirez</ion-title>
    <i class="fas fa-phone" id="colorI" slot="end" padding></i>
  </ion-toolbar>
</ion-header>
<!--Contenido de la conversacion envio y recepcion de mensaje-->

<ion-content padding >
<!--Resepcion de mensaje-->
    <ion-row *ngFor="let message of messages">
        <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
          <b>{{ message.user }}</b><br>
          <span>{{ message.msg }}</span>
          <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
        </ion-col>
    </ion-row>
<br> 
<!--Recepcion de mensaje-->
      <ion-row  *ngFor = "let mensaje of mensajes">
        <ion-col offset="3" size="9" *ngIf="mensaje.user !== currentUser" class="message my-message">
            <b>{{ mensaje.user }}</b><br>
            <span>{{ mensaje.msg }}</span>
          <div class="time" text-right><br>{{ mensaje.createdAt | date:'short' }}</div>
        </ion-col>
      </ion-row>

</ion-content>

<ion-footer padding>
  <ion-toolbar color="light">
    
      <!--Boton de añadir // falta activar-->
          
    
        <ion-icon size ="5"name="add-circle" class="colorT" slot="start" color="menu"  isActive="true" ></ion-icon>
    
    <!-- Envio del mensaje  -->
    
     <ion-row  align-items-center no-padding color="light">
        <ion-col size="10">
      
        
      
          <textarea  autosize class="message-input" maxRows="2"  autofocus ="autofocus"clearOnEdit="true" placeholder="Aa"  [(ngModel)] = "msg" ></textarea>
        </ion-col>
        <ion-col size="2">
              <ion-button expand="block" fill="clear" color="ligth"  (click) = "sendMensaje()" class="msg-btn">
            <ion-icon slot="icon-only" name="paper-plane" color="menu"  id="colorIf" ></ion-icon> 
        </ion-button>
      
      
    </ion-col> 
  </ion-row>
 </ion-toolbar>   
</ion-footer>