#colorI{
    color: white;
    font-size: 2rem;
    padding-inline-start: 8px;
}

.colorT{
    color: white;
}

#colorIf{
    color: var( --ion-color-menu );
    font-size: 2rem;
}

.inputs-login{
    border-radius: 10px;
    background: white;
    height: 40px;
    border-bottom-color: black;
}

table{
    width: 100%;

}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }

  .mensaje {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
  .other-message {
    background: var(--ion-color-secondary);
    border-radius: 20px;
    color: #fff;
  }
  .my-message {
    background: var(--ion-color-primary);
    border-radius: 20px;
    color: #fff;
  }

  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }
  

ion-content{
    --background : #dce1e4;
}

ion-fab{
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.styleButton{
    border-radius: 10px 0px 0px 10px;
    width: 20%;
}
.styleInput{
    
    background: white;
    width: 60%;
}

.styleSend{
    border-radius: 10px 10px 10px 0px;
    background: white;
    width: 20%;
    text-align: center;
    
}
