<ion-header no-border>
    <ion-toolbar color="fondo">
      <ion-back-button class="colorIco"></ion-back-button>
        <table width="100%" class="step-focus">
            <tr>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
          
            </tr>
          </table>
    
    </ion-toolbar>
  </ion-header>
<ion-content padding color="fondo">
    <h1 center>Identificate</h1>
      <p class="subtittle-identify">Identificate tomandote una foto</p>

    <ion-card>
       <img src="../../assets/imgs/selfie.jpg">
         <p>La fotografía tomada es de caracter confidencial</p>
    </ion-card>

    <ion-card>
      <img src="../../assets/imgs/ine.jpg">
       <p>La fotografía tomada es de caracter confidencial</p>
    </ion-card>
      <div></div>

      <ion-button color="primary" class="buttons" 
         expand="block" 
         (click)="submit()">Terminar
      </ion-button>
</ion-content>

