.step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}
 // #5873FF

 .avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
 }

.tittle-identify{
    font-size: 2rem;
}

.subtittle-identify{
    font-size: 15px;
    text-align: center;
    color: gray;

}

img{
    margin: auto;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;   
}


p{
    font-size: 13px;
    color: black;
}



.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}

ion-card{
    background-color:  #e1e2e6;
    text-align: center;
    width: 80%;
    height: 30%;
    margin: auto;

}

div{
    height: 1rem;
}