#colorIf{
    color: var( --ion-color-primary );
    font-size: 2.5rem;
}

#textSize{
    font-size: 1rem;
}


.positionDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%); 
}