
    <div class="positionDiv">
    <ion-item lines="none">
            <ion-label text-center id="textSize">Tu viaje a sido publicado</ion-label>
    </ion-item>

    <ion-item lines="none" (click)="exit()">
        <ion-label text-center>
            <i class="fas fa-check-circle" id="colorIf"></i> 
        </ion-label>
    </ion-item>
    </div>

