.color{
    color: white;
}

#colorI{
    color: white;
    font-size: 1.5rem;
    padding-inline-start: 8px;
}

/*
iconos para TABS


<i class="fas fa-home"></i>

<i class="fas fa-comment"></i>

<i class="fas fa-bell"></i>

<i class="fas fa-cog"></i>

*/