

<ion-tabs >

<ion-tab-bar slot="bottom" color="menu">
    
    <ion-tab-button tab="main">
        <i class="fas fa-home" id="colorI"></i>  
    </ion-tab-button>
 


      <ion-tab-button tab="chats">
        <i class="fas fa-comment" id="colorI"></i>
      </ion-tab-button>
 


    <ion-tab-button tab="notifications">
        <i class="fas fa-bell" id="colorI"></i>
    <ion-badge color="danger">5</ion-badge>

    </ion-tab-button>



    <ion-tab-button tab="settings">
        <i class="fas fa-cog" id="colorI"></i>
    </ion-tab-button>

</ion-tab-bar>

</ion-tabs>