.imgDriver{
width: 7rem;
height: 7rem;
margin: auto;
border-radius: 100%;
}
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

label {
    font-size: 30px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

ion-card{

    border-color: white;
    box-shadow: 0px 0px 0px 0px;
}

#colorI{
    color: var( --ion-color-danger );
    font-size: 2rem;
    padding-inline-start: 8px;
}

#colorIc{
    color: var( --ion-color-primary );
    font-size: 2rem;
    padding-inline-start: 8px;
}

.colorIco{
    color: white;
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}