<ion-header no-border>

  <ion-toolbar color="menu">

    <ion-buttons slot="start">
      <ion-back-button class="colorIco"></ion-back-button>
    </ion-buttons>

      <ion-title class="colorIco"></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
<h1>Tu lugar a sido confirmado</h1>
<p>Tu condictor es:</p>

<ion-card><br>

  <img class="imgDriver" src="../../../../../assets/imgs/driver4.jpg"><br>
    <ion-card-subtitle text-center>Emilio Ramirez Flores</ion-card-subtitle>
      <form text-center>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
            --><label for="radio5">★</label>
          </p>
      </form>
</ion-card>
<ion-item lines="none">
  <i class="fas fa-car" id="colorI" slot="start"></i>
  <ion-label>Doge Atttitude</ion-label>
  <ion-label slot="end">MXMX12</ion-label>
</ion-item>
<ion-item lines="none">
  <ion-label slot="start">Tu punto de reunión es</ion-label>
</ion-item>
<ion-item lines="none">
  <i class="fas fa-map-marker-alt" id="colorIc" slot="start"></i>
  <ion-label>Oxxo Sendero</ion-label>
  <ion-label slot="end">7:10 AM</ion-label>
</ion-item>
<br>
<ion-button expand="block" class="buttons">CANCELAR MI LUGAR</ion-button>
</ion-content>
