<ion-header no-border>
    <ion-toolbar color="fondo">
      
        <ion-back-button class="colorIco"></ion-back-button>   
        <table width="100%" class="step-focus">
            <tr>
              <td class="avtive-focus"></td>
              <td></td>
              <td ></td>
              <td></td>
            </tr>
          </table>  
    </ion-toolbar>
  </ion-header>
<ion-content padding color="fondo">
  
  <h1 text-center>Verifica tu número</h1>   
    <br>
      <br>
        <br>

 <form (ngSubmit)="submit()"> 
  <!--<ion-input block type="email" class="inputs-login" placeholder="Correo electronico"></ion-input >
  <br>
  <ion-input block type="password" class="inputs-login" placeholder="Contraseña"></ion-input>
  <br>
  <ion-input block type="password" class="inputs-login" placeholder="Verificar contraseña"></ion-input>
  <br>-->
  <table width="100%">
    <tr>
      <td> 
        <ion-select placeholder="+52" name="prefix" [(ngModel)]="sendCode.prefix" class="lada"> 
          <ion-select-option value="52">+52</ion-select-option>
          <ion-select-option value="65">+65</ion-select-option>
          <ion-select-option value="73">+73</ion-select-option>
          <ion-select-option value="66">+66</ion-select-option>
        </ion-select>
      </td>
      <td> 
          <ion-input  type="tel" class="input-sign-up" placeholder="(722) 840-8662" 
            name="phoneNumber" [(ngModel)]="sendCode.phoneNumber"></ion-input > 
      </td>
    </tr>
  </table>
        
  <br>

  <!--<label class="container">Aceptar términos y condiciones
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
  </label>-->
</form>
  <br>
   <br>
     <br>

  <ion-button expand="block" class="buttons" color="primary"
              (click)="submit()">Verificar</ion-button>

              

</ion-content>
