<ion-content>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" id='map'>

        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

        <agm-marker [latitude]="lati" [longitude]="lngi"></agm-marker>

</agm-map>
<ion-back-button
        defaultHref="/tabs/travel"
        text=" "
        icon="arrow-round-back"
        class="colorIco"></ion-back-button> 
        
<ion-searchbar placeholder="Buscar"
        class="styleSearbar"
        (click)="search()"></ion-searchbar>


<ion-button class="buttons" (click)="save()">Guardar</ion-button>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="menu">
            <ion-icon name="add" class="colorI"></ion-icon>
        </ion-fab-button>
</ion-fab>

</ion-content>
