.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 45px;
    width: 40%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.styleSearbar{
    position: absolute;
    top: 40px;
    border-radius: 20px;   
}

#map{
   width: 100%; 
   height: 100%;
   background-color: #f6f6f4;
}

.colorIco{
    position: absolute;
    top: 15px;
    left: 5px;
    font-size: 25px;
    color: black;
}

.colorI{
    color: white;
}