<div  class="styleCardPubli">

    <ion-card (click)="confirmation()" mode="ios">
        <ion-list mode="ios">
            <ion-item mode="ios" lines="none">
                <ion-icon name="md-more" slot="start"></ion-icon>
                <ion-label position="stacked">Punto de partida:</ion-label>
                <ion-input value="Foresta" readonly></ion-input>
      </ion-item>

      <ion-item lines="none" mode="ios"> 
          <ion-icon name="md-more" slot="start"></ion-icon> 
          <ion-label position="stacked">Punto de destino:</ion-label>
          <ion-input value="Metro polanco" readonly></ion-input>
      </ion-item>
    </ion-list>
</ion-card>

<ion-card (click)="confirmation()" mode="ios">
    <ion-list mode="ios">
        <ion-item mode="ios" lines="none">
            <ion-icon name="md-more" slot="start"></ion-icon>
            <ion-label position="stacked">Punto de partida:</ion-label>
            <ion-input value="Lerma" readonly></ion-input>
        </ion-item>
  
        <ion-item lines="none" mode="ios"> 
            <ion-icon name="md-more" slot="start"></ion-icon> 
            <ion-label position="stacked">Punto de destino:</ion-label>
            <ion-input value="Metro " readonly></ion-input>
        </ion-item>
    </ion-list>
  </ion-card>

</div>