.step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}
 .avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
 }
p{
    padding-top: 15%;
    font-size: 25px;
    text-align: center;
}
.radio-table{
    margin-top: 40%;
}
.types{
    width: 30px;
    height: 30px;
}
label{
    font-size: 33px;
    padding-inline-start: 5px;
}
.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
    margin-top: 35%;
}