<ion-header no-border>
    <ion-toolbar color="fondo">
       
        <table width="100%" class="step-focus">
            <tr>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
            </tr>
          </table>
    </ion-toolbar>
  </ion-header>

<ion-content padding color="fondo">
  <ion-back-button class="colorIco"></ion-back-button>
<p>
  ¿Cuentas con automóvil?
</p>
<table class="radio-table" width="100%" text-center>
  <tr>
    <td width="50%"><input type="radio" name="tipo" id="" class="types"><label>Si</label></td>
    <td width="50%"><input type="radio" name="tipo" id="" class="types"><label>No</label></td>
  </tr>
</table>
<ion-button color="primary" class="buttons" 
        expand="block" 
        (click)="vehicle()">Continuar</ion-button>
        
</ion-content>
