
.styleDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.styleInput{
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    width: 60%;
    text-align: center; 
}

.buttons{
    margin: auto;
}