
    <div class="styleDiv">
      <ion-item lines="none">
        <ion-label text-center>¿Deseas publicar este viaje de nuevo?</ion-label>
      </ion-item>
      <ion-item lines="none">
          <ion-label text-center>Ingresa la fecha de salida del viaje</ion-label>
      </ion-item>
      <br>
    <ion-item lines="none" >
        <ion-label text-center>Fecha: </ion-label>
        <ion-datetime class="styleInput" monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14" displayFormat="DD/MMM/YYYY"></ion-datetime>
    </ion-item>
    <br>
      <ion-item lines="none" text-center>
          <ion-button color="primary" class="buttons" 
          (click)="confirmationPost()">Confirmar</ion-button>
      </ion-item>   
    </div>
