.inputs-login{
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}

.colorIco{
    color: white;
}

.types{
    width: 1.5rem;
    height: 1.5rem;
}

label{
    font-size: 1.5rem;
    padding-inline-start: 1.5rem;
}