<ion-header no-border>

  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-back-button class="colorIco"></ion-back-button>
        </ion-buttons>
      <ion-title class="colorIco">Información de mi auto</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-input  type="text" class="inputs-login" placeholder="Modelo" padding></ion-input >
  <br> 
  <ion-input  type="text" class="inputs-login" placeholder="Color" padding></ion-input >
  <br> 
  <ion-input  type="text" class="inputs-login" placeholder="Placas" padding></ion-input >
  <br> 
  <ion-input  type="text" class="inputs-login" placeholder="Estado" padding></ion-input >
  <br>
  <h4 text-center>¿Tienes licencia para conducir?</h4>    
  <table width="100%" text-center>
    <tr>
      <td width="50%"><input type="radio" name="tipo" id="" class="types" padding><label>Si</label></td>
      <td width="50%"><input type="radio" name="tipo" id="" class="types" padding><label>No</label></td>
    </tr>
  </table>
  <br>
    <ion-input  type="text" class="inputs-login" placeholder="Color" padding></ion-input >
  <br>
    <ion-input  type="text" class="inputs-login" placeholder="Placas" padding></ion-input >
  <br>

  <ion-button color="primary" class="buttons" 
              expand="block" 
              (click)="AlertaModificar()"
                            >MODIFICAR</ion-button>
                
</ion-content>
