<ion-header no-border>
  <ion-toolbar color="menu">
      <ion-back-button class="colorIco"></ion-back-button>
    <ion-title slot="start">Viajes</ion-title>

</ion-toolbar>

  <ion-segment scrollable  mode="md" color="menu">
      <ion-segment-button  mode="md" value="curso">
          <ion-label text-capitalize>EN CURSO</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="guardados">
        <ion-label text-capitalize>GUARDADOS</ion-label>
      </ion-segment-button>

      <ion-segment-button   mode="md" value="viajes">
          <ion-label text-capitalize>MIS VIAJES</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
 

    <ion-card (click)="infoTravel()">
        <ion-list>
            <ion-item>
                <ion-icon name="md-more" slot="start"></ion-icon>
                <ion-label position="stacked">Punto de partida</ion-label>
                <ion-input readonly value="Foresta"></ion-input>
            </ion-item>

            <ion-item lines="none"> 
                <ion-icon name="md-more" slot="start" color="primary"></ion-icon> 
                <ion-label position="stacked">Punto de destino</ion-label>
                <ion-input readonly value="Metro Polanco"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="menu"
                    (click)="travelPost()">
      <ion-icon name="add" class="colorI"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
