ion-segment-button{
    background-color: white !important;
    color: black !important;
}

.segment-button-checked{
    color: var( --ion-color-menu ) !important;
}

ion-title, .colorI{
    color:white;
}

ion-card{
    border-radius: 20px;
}