

<ion-content padding>
<!--
<ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Victor Colín <p>20 Feb</p></ion-label>
      <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Metro Polanco</ion-label>
        <ion-note slot="end">8:30 PM</ion-note>
    </ion-item>
    <ion-item lines="none">
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-note slot="end"><h2><b>$ 45.00 C/U</b></h2></ion-note>
    </ion-item>
</ion-card>

<ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Carlos José <p>24 Feb</p></ion-label>
      <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Santa Fe</ion-label>
        <ion-note slot="end">8:30 PM</ion-note>
    </ion-item>
    <ion-item lines="none">
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body" color="primary"></ion-icon>
        <ion-note slot="end"><h2><b>$ 25.00 C/U</b></h2></ion-note>
    </ion-item>
</ion-card>

<ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Berenice Montes de Oca <p>26 Feb</p></ion-label>
      <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Metepec</ion-label>
        <ion-note slot="end">8:30 PM</ion-note>
    </ion-item>
    <ion-item lines="none">
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body"></ion-icon>
        <ion-icon name="body" color="primary"></ion-icon>
        <ion-icon name="body" color="primary"></ion-icon>
        <ion-note slot="end"><h2><b>$ 15.00 C/U</b></h2></ion-note>
    </ion-item>
</ion-card>
-->


</ion-content>     
