<ion-header no-border [ngClass]="ocultar" class="styleDiv">
      <div>
        
        <ion-item lines="none">
          <ion-label text-center><h1>Trip Now</h1></ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label text-center><h4>Estas por confirmar tu viaje en</h4> <br> 
                                   <h5>Trip Now elige el punto de reunión</h5>
             </ion-label>
        </ion-item>
   
  
  
        <ion-select placeholder="Seleccione uno" name="" class="inputFormSelec"  text-center padding> 
          <ion-select-option value="52">OXXO</ion-select-option>
          <ion-select-option value="65">Observatorio</ion-select-option>
        </ion-select>
      
      
      <ion-item lines="none">
          <ion-label text-center><h5>Hora estima de llegada 7:50 AM</h5></ion-label>
      </ion-item>
        <ion-item lines="none" text-center>
            <ion-button color="primary" class="buttons" 
            (click)="confirmationPost()">Confirmar</ion-button>
        </ion-item>
       
      

    
  </div>
  </ion-header>