
.styleDiv{
    width: 100%;
    font-size: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.inputFormSelec{
    border-radius: 10px;
    box-shadow: -4px 3px 4px 3px rgba(0,0,0,0.2);
    width: 90%;
    margin: auto;
}

.buttons{
    margin: auto;
}