// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3ACDE1;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3ACDE1;
  --ion-color-primary-tint: #3ACDE1;

  /** secondary **/
  --ion-color-secondary: #5873FF;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5873FF;
  --ion-color-secondary-tint: #5873FF;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

    /** botton **/
    --ion-color-botton: #3ACDE1;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #3ACDE1;
    --ion-color-light-tint: #3ACDE1;

    --ion-color-botton2: #5873FF;

    //#545e68
    

   // 0A95190AYyp7Rj9J
 /** TBS MENU **/
   --ion-color-menu: #3497fd;
   --ion-color-menu-rgb: 52,151,253;
   --ion-color-menu-contrast: #000000;
   --ion-color-menu-contrast-rgb: 0,0,0;
   --ion-color-menu-shade: #2e85df;
   --ion-color-menu-tint: #48a1fd;

  //Color de .ion-color-fondo

  --ion-color-fondo: #f7f7f9;
  --ion-color-fondo-rgb: 247,247,249;
  --ion-color-fondo-contrast: #000000;
  --ion-color-fondo-contrast-rgb: 0,0,0;
  --ion-color-fondo-shade: #d9d9db;
  --ion-color-fondo-tint: #f8f8fa;

}

.ion-color-menu{
  --ion-color-base: var(--ion-color-menu) !important;
  --ion-color-base-rgb: var(--ion-color-menu-rgb)!important;
  --ion-color-contrast: var(--ion-color-menu-contrast)!important;
  --ion-color-contrast-rgb: var(--ion-color-menu-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-menu-shade)!important;
  --ion-color-tint: var(--ion-color-menu-tint)!important;
}

.ion-color-fondo{
  --ion-color-base: var(--ion-color-fondo) !important;
  --ion-color-base-rgb: var(--ion-color-fondo-rgb)!important;
  --ion-color-contrast: var(--ion-color-fondo-contrast)!important;
  --ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-fondo-shade)!important;
  --ion-color-tint: var(--ion-color-fondo-tint)!important;
}