.fondo{
   --background: #f7f7f9;
}

.step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}
 // #5873FF

 .avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
 }
 
.tittle-login{
    margin-top: 15%;
    font-size: 50px;
    text-align: center;
}

form{
    margin-top: 15%;
}


.inputs-login{
    border-radius: 10px;
    background: white;
    height: 50px;
    //-webkit-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    //-moz-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    //box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
}


.subtittle-login{
    font-size: 15px;
    text-align: center;
    color: gray;

}

.sign-up{
    text-decoration: none;
    color: rgb(66, 65, 65);
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}