<ion-header no-border>
  <ion-toolbar color="fondo">
       
      <table width="100%" class="step-focus">
          <tr>
            <td class="avtive-focus"></td>
            <td class="avtive-focus"></td>
          </tr>
     </table>

  </ion-toolbar>
</ion-header>
<ion-content padding color="fondo">

<h1 text-center> Iniciar sesión </h1> 
 <br>
<form (ngSubmit)="submit()">

  <ion-input  type="text" class="inputs-login" placeholder="Usuario" name="email" [(ngModel)]="login.email"></ion-input >
  <br>
  <ion-input  type="password" class="inputs-login" placeholder="Contraseña" name="password" [(ngModel)]="login.password"></ion-input>
  <br>
  <p class="subtittle-login">¿Olvidaste tu contraseña?</p>
  <br>   
  
    <ion-button expand="block" 
    class="buttons"
    type="submit">Iniciar Sesión</ion-button>
</form>

  <br>
    
  <p class="subtittle-login">¿Aun no tienes cuenta? 
    <b>
      <ion-label class="sign-up" (click)="signUp()">Registrate aqui</ion-label>
    </b>
  </p>


    

</ion-content>
