<ion-header no-border>

  <ion-toolbar color="menu">
        <ion-buttons slot="start">
                <ion-back-button class="colorIco"></ion-back-button>
              </ion-buttons>
      <ion-title class="colorIco">Ayuda</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

<ion-list lines="none">

    <ion-item lines="none">
        <i class="fas fa-headset" id="colorI" slot="start"></i>
        <ion-label>Bienvenido al centro de atención <p>de Trip Now</p></ion-label>
    </ion-item>

    <br>
    
    <ion-item>
      <ion-label>Objetos perdidos</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Me equivoque eligiendo mi destino</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>¿Qué debo hacer en caso de emergencia?</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Comentarios sobre el conductor</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Comentarios sobre el automóvil</ion-label>
    </ion-item>
</ion-list>

<ion-button expand="block" class="buttons">REPORTAR</ion-button>

</ion-content>
