#colorI{
    color: var( --ion-color-primary );
    font-size: 4rem;
    padding-inline-start: 8px;
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}

.colorIco{
    color:white;
}