<ion-header no-border>
    <ion-toolbar color="fondo">
      <br>
        <table width="100%" class="step-focus">
            <tr>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
              <td class="avtive-focus"></td>
            </tr>
        </table>
    </ion-toolbar>
</ion-header>
<ion-content padding color="fondo">
  <ion-back-button class="colorIco"></ion-back-button>
    <label>Información de tu vehículo </label> 
    <ion-input  type="text" class="inputs-login" placeholder="Modelo"></ion-input >
<br>
    <ion-input  type="text" class="inputs-login" placeholder="Color"></ion-input >
<br>
    <ion-input  type="text" class="inputs-login" placeholder="Placas"></ion-input >
<br>
    <ion-input  type="text" class="inputs-login" placeholder="Estado"></ion-input >
<br>
  <h4 text-center>¿Tienes licencia para conducir?</h4>    
    <table width="100%" text-center>
      <tr>
       <td width="50%"><input type="radio" name="tipo" id="" class="types"><label>Si</label></td>
       <td width="50%"><input type="radio" name="tipo" id="" class="types"><label>No</label></td>
      </tr>
    </table>
<br>
   <ion-input  type="text" class="inputs-login" placeholder="Color"></ion-input >
<br>
   <ion-input  type="text" class="inputs-login" placeholder="Placas"></ion-input >
<br>
  <ion-button color="primary" class="buttons" 
            expand="block" 
            (click)="main()">Continuar</ion-button>
            
</ion-content>
