.fondo{
    --background: #f7f7f9;
}

.step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}

.avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
}

.subtittle-vehicle{
    font-size: 15px;
    text-align: center;
    color: gray;
}

.inputs-login{
    border-radius: 10px;
    background: white;
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}

.types{
    width: 1.5rem;
    height: 1.5rem;
}

label{
    font-size: 1.5rem;
    padding-inline-start: 1.5rem;
}
