
.tittle-login{
    font-size: 40px;
    text-align: center;
}
    
.inputs-login{
    border-radius: 10px;
    background: white;
    //-webkit-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    //-moz-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    //box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
}

.input-sign-up{
  border-radius: 0px 10px 10px 0px;
  background: white;
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    color: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #3ACDE1;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .lada{
      border-radius: 10px 0px 0px 10px;
      border-color: #f7f7f9;
      height: 39px;
      background: white;
  }

  #opcion1 {
    
    padding-left:25px;
    line-height:50px;
    margin-bottom:2px;
  }

/*Esta es la tabla que muestrta el progreso*/
  .step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}

 .avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
 }
 
 .colorIco{
  color: #3acce1;
}

 /*FIN*/

 .buttons{
  --border-radius: 10px;
  text-transform: unset;
  height: 55px;
}