
<ion-header no-border>

    <ion-toolbar color="menu">
        <ion-back-button class="colorIco"></ion-back-button>   
      <h2 class="colorIco" text-center>Chats</h2>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
  </ion-header>
<ion-content padding>

<ion-list>

  <ion-item (click)="talk()">
      <ion-avatar slot="start">
        <img src="../../../../assets/imgs/driver6.jpeg">
      </ion-avatar>
      <ion-label>Paola Ramirez <p> Hola.... :v  </p> </ion-label>
      <ion-note slot="end">12 junio</ion-note>
  </ion-item>

  <ion-item (click)="talk()">
      <ion-avatar slot="start">
        <img src="../../../../assets/imgs/driver10.jpg">
      </ion-avatar>
      <ion-label>Mara Ramirez <p> Hola..... :v  </p> </ion-label>
      <ion-note slot="end">12 junio</ion-note>
  </ion-item>

  <ion-item (click)="talk()">
      <ion-avatar slot="start">
        <img src="../../../../assets/imgs/driver7.jpg">
      </ion-avatar>
      <ion-label>Madison Ramirez <p> Hola......:v  </p> </ion-label>
      <ion-note slot="end">12 junio</ion-note>
  </ion-item>
  
</ion-list>

</ion-content>
