.fondoImg{
    --background: #f7f7f9;
}



.tittle-login{
    font-size: 40px;
    text-align: center;
}

.ion{

    border: #3ACDE1 2px solid;
    border-style: none none solid none;
    //background: #ffff;
   
    font-size: 50px;
}

td{
    padding-right: 10px;
    padding-left: 10px;
    
}

div{
    margin-top: 40%
}

.step-focus{
    background-color: rgba(84 ,94 ,104,0.35);
    border-color:  rgba(84 ,94 ,104,0.35);
    height: 7px;
}
 // #5873FF

 .avtive-focus{
  background-color: #3acce1;
  border-color: #3acce1;
  border: 15px;
 }

 .buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
    
}
.button{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
    color: black;
    --background: #e1e2e6;
}

.colorIco{
    color: #3acce1;
    --background: clear;
}

ion-label{
    --border-radius: 10px;
}

ion-note{
    --border-radius: 10px;
}
