<ion-header no-border>
  
    <ion-toolbar color="fondo">
     
      <ion-back-button class="colorIco"></ion-back-button>
      
    <table width="100%" class="step-focus">
        <tr>
          <td class="avtive-focus"></td>
          <td class="avtive-focus"></td>
          <td></td>
          <td></td>
        </tr>
    </table>
    </ion-toolbar>
  </ion-header>
<ion-content padding color="fondo">
  <h1 text-center> Ingresa código </h1> 
<br><br>
<form (ngSubmit)="submit()">
  <table>
    <tr>
      <td>
        <ion-input class="ion" type="tel" text-center autofocus 
        name="code1" [(ngModel)]="numberCode1"> </ion-input>
      </td>
      <td>
        <ion-input class="ion" type="tel" text-center
        name="code2" [(ngModel)]="numberCode2"> </ion-input>
      </td>
      <td>
        <ion-input class="ion" type="tel" text-center
        name="code3" [(ngModel)]="numberCode3"> </ion-input>
      </td>
      <td>
        <ion-input class="ion" type="tel" text-center
        name="code4" [(ngModel)]="numberCode4"> </ion-input>
      </td>
    </tr>
  </table>
</form>
  <br>
  <div text-center>
    <ion-button  class="button" 
                style="width: 45%;"
                 
                                                  >Reenviar SMS</ion-button>

    <ion-button color="primary" class="buttons"
                style="width: 45%;"
                (click)="submit()"
                                                  >Aplicar</ion-button>

  </div>
</ion-content>
