<ion-header no-border>
  <ion-toolbar color="menu">
    <h2 class="colorIco" text-center>Notificaciones</h2>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
</ion-toolbar>
</ion-header>
<ion-content padding>

<!--
  <ion-card class="card-color">
        <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
          <ion-label>Luis Garcia <p> Acaba de recervar un viaje </p> </ion-label>
          <ion-note slot="end">Hace 5 min</ion-note>
        </ion-item>
  </ion-card>

  <ion-card>
      <ion-item>
          <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
        <ion-label>Flor Garcia <p> Acaba de recervar un viaje </p> </ion-label>
        <ion-note slot="end">Hace 5 min</ion-note>
      </ion-item>
</ion-card>
<ion-card>

  <ion-item>
      <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
      <ion-label>Laura Garcia <p> Acaba de recervar un viaje </p> </ion-label>
      <ion-note slot="end">Hace 5 min</ion-note>
    </ion-item>
</ion-card>
-->
<ion-list>
  <ion-card *ngFor="let n of notification">
      <ion-item lines="none" (click)="detailNotification()">
          <ion-avatar slot="start">
            <img [src]="n.photoDriver">
          </ion-avatar>
          <ion-label>{{ n.nameDriver }} <p> {{ n.notification }} {{ n.destiny }} </p> </ion-label>
          <ion-note slot="end">Hace {{ n.time }}</ion-note>
        </ion-item>
  </ion-card>
</ion-list>
</ion-content>
