
<ion-content>
<body padding class="main-body">
<img src="../../assets/imgs/tripnow.png">

<div>
    <ion-button color="primary" class="buttons" 
        expand="block" 
        (click)="login()">Iniciar Sesión</ion-button>

    <ion-button color="secondary" class="buttons"
        expand="block" 
        (click)="signUp()">Registrarte</ion-button>
</div>  
</body>
</ion-content>
