
.main-body{
    background-image: url('../../../assets/imgs/imgMain.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 100%;
    height: 20%;
    margin-top: 15%;
}

div{
    margin-top: 80%;
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}