<ion-header no-border>
  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-back-button class="colorIco"></ion-back-button>
        </ion-buttons>
      <ion-title class="colorIco">Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card><br>
    <img class="imgDriver" src="../../assets/imgs/selfie.jpg">
    <ion-card-header>
      <ion-card-subtitle text-center> {{ user.name }} {{ user.firstLastName }} {{ user.secondLastName }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <form text-center>
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5">
              <label for="radio1">★</label>
              <input id="radio2" type="radio" name="estrellas" value="4">
              <label for="radio2">★</label>
              <input id="radio3" type="radio" name="estrellas" value="3">
              <label for="radio3">★</label>
              <input id="radio4" type="radio" name="estrellas" value="2">
              <label for="radio4">★</label>
              <input id="radio5" type="radio" name="estrellas" value="1">
              <label for="radio5">★</label>
            </p>
        </form>
    </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item>
        <ion-label><p>Nombre</p> {{ user.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><p>Apellidos</p> {{ user.firstLastName }} {{ user.secondLastName }}</ion-label><br>
      </ion-item>
      <ion-item>
        <ion-label><p>Correo Electronico</p> {{ user.email }}</ion-label>
        <ion-note slot="end" color="primary"><b>Verificado</b></ion-note>
      </ion-item>
      <ion-item>
        <ion-label><p>Telefono</p> 5566778899</ion-label>
        <ion-note slot="end" color="primary"><b>Verificado</b></ion-note>
      </ion-item>
      <ion-item>
          <ion-label><p>contraseña</p> ***********</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cambiar de contraseña</ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>

    </ion-list>
</ion-content>
