<ion-header no-border>

  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-back-button class="colorIco"></ion-back-button>
      </ion-buttons>
      <ion-title class="colorIco">Detalles del viaje</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>


  <div padding>

    <ion-item lines="none">
      <ion-label><h2><b>Salida de: San Miguel Metepec </b></h2></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label><h2><b>Destino: Mundo E. Satelite</b></h2></ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Fecha de Salida: 3 Marzo 2019</ion-label>
        <ion-note slot="end"><b><h5>7:30 AM</h5></b></ion-note>
      </ion-item>
  </div>
  <img src="../../../../assets/imgs/mapa.jpg">
 <div padding>
  <ion-item lines="none">
    <ion-label>Pasajeros</ion-label>
  </ion-item>

  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
      <img src="../../../../assets/imgs/driver6.jpeg">
      </ion-avatar>
      <ion-label>Paola Ramirez<p>12 de junio 2019</p></ion-label>
      <i class="far fa-comments" id="colorI" slot="end"></i>
      <i class="fas fa-phone" id="colorI" slot="end"></i>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Finalizo su viaje en</ion-label>
    </ion-item>
    <ion-item lines="none">
       <ion-avatar>
         <img src="../../../../assets/icon/pin.png">
       </ion-avatar>
      <ion-label>Palacio de hierro</ion-label>
      <ion-label>10:35 AM</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item lines="none">
        <ion-avatar slot="start">
        <img src="../../../../assets/imgs/driver7.jpg">
        </ion-avatar>
        <ion-label>Madison Ramirez<p>3 Marzo 2019</p></ion-label>
        <i class="far fa-comments" id="colorI" slot="end"></i>
        <i class="fas fa-phone" id="colorI" slot="end"></i>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Finalizo su viaje en</ion-label>
      </ion-item>
      <ion-item lines="none">
         <ion-avatar>
           <img src="../../../../assets/icon/pin.png">
         </ion-avatar>
        <ion-label>Mundo E.</ion-label>
        <ion-label>11:35 AM</ion-label>
      </ion-item>
    </ion-card>

 </div>

</ion-content>
