<ion-header no-border>
        <ion-back-button class="colorIco"></ion-back-button>
<ion-toolbar color="menu">
        <h2 class="colorIco" text-center>Configuración</h2>
</ion-toolbar>

</ion-header>
<ion-content padding>



<ion-list>

    <ion-item lines="none" (click)="profile()"> 
        <img class="imgDriver" src="../../assets/imgs/selfie.jpg" slot="start">
        <ion-label>Laura Garcia Lopez <p>laura.gl@gmail.com</p> </ion-label>
    </ion-item>
    <br>
    <ion-item (click)="profile()">
        <ion-label>Ver información personal</ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
    <ion-item (click)="info()">
      <ion-label>Configurar información de Automóvil</ion-label>
      <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
    </ion-item>
    
    <ion-item>
        <ion-label>Convertirte en conductor</ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="help()"> 
        <ion-label >Ayuda</ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="close()">
        <ion-label>Cerrar sesión</ion-label>
    </ion-item>
    
  
</ion-list>



</ion-content>
