
<ion-header no-border color="menu"> 
  <ion-toolbar color="menu">
    <br>
    <ion-searchbar placeholder="¿A donde vas?"
                    (click)="search()"></ion-searchbar>
  </ion-toolbar>

  <ion-segment scrollable  mode="md" color="menu" 
                           (ionChange)="cambiarOpcion( $event )">

      <ion-segment-button  mode="md" value="todos">
          <ion-label text-capitalize>TODOS</ion-label>
      </ion-segment-button>

      <ion-segment-button  mode="md" value="Viajes">
        <ion-label text-capitalize>MIS VIAJES</ion-label>
      </ion-segment-button>

      <ion-segment-button   mode="md" value="publicados">
        <ion-label text-capitalize>PUBLICADOS</ion-label>
    </ion-segment-button>

      <ion-segment-button   mode="md" value="Favorito" >
          <ion-label text-capitalize>MIS FAVORITOS</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  
  <ion-slides pager="false" #slidePrincipal [options]="slideOpts">

      <ion-slide class="slideStyle">
        <app-travels [travels]="travels"></app-travels>
      </ion-slide>

      <ion-slide>
        <app-travel></app-travel>
      </ion-slide>

      <ion-slide>
         <app-publication></app-publication>
      </ion-slide>

      <ion-slide>
        <app-favorites></app-favorites>
      </ion-slide>

  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button color="menu"
                      (click)="travelPost()">
        <ion-icon name="add" class="colorI"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


