ion-segment-button{
    background-color: white !important;
    color: black !important;
}

.segment-button-checked{
    color: var( --ion-color-menu ) !important;
}

.colorI{
    color: white;
}

ion-content{
    --background: rgb(252, 252, 252);
}

