.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
}

#colorI{
    color: var( --ion-color-primary );
    font-size: 2rem;
    padding-inline-start: 8px;
}

.icolor{
    color: white;
}

agm-map {
    height: 40%;
}

.shareStyle:hover{
    color: var( --ion-color-primary );
}