<ion-header no-border>
  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-back-button class="icolor"
                           text=" "
                           defaultHref="/tabs/tabs/main"></ion-back-button>
      </ion-buttons>
    <ion-title class="icolor">Detalles del viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-item lines="none" mode="ios">
      <ion-avatar slot="start">
      <img src="../../../../../assets/imgs/driver10.jpg">
      </ion-avatar>
      <ion-label>Paola Ramirez<p>3 Mar</p></ion-label>
      <i class="far fa-comments" id="colorI" slot="end" (click)="openTalk()"></i>
      <i class="fas fa-phone" id="colorI" slot="end"></i>
    </ion-item>
    <ion-item lines="none" mode="ios">
      <ion-label><h2><b>Salida de: San Miguel Metepec </b></h2></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label><h2><b>Destino: Mundo E. Satelite</b></h2></ion-label>
    </ion-item>
    <ion-item lines="none" mode="ios">
        <ion-label>Fecha de Salida: 3 Marzo 2019</ion-label>
        <ion-note slot="end"><b><h5>7:30 AM</h5></b></ion-note>
      </ion-item>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">

    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

    <agm-marker [latitude]="lati" [longitude]="lngi"></agm-marker>

  </agm-map>

  <div padding>

    <ion-list lines="none" padding  mode="ios">
      <ion-item  mode="ios">
          <ion-avatar slot="start">
           <img src="../../../../../assets/icon/semaforo.png">
          </ion-avatar>
          <ion-label>Parada 1 </ion-label>
      </ion-item>

      <ion-item  mode="ios">
          <ion-avatar slot="start">
           <img src="../../../../../assets/icon/semaforo.png">
          </ion-avatar>
          <ion-label>Parada 1 </ion-label>
      </ion-item>

      <ion-item  mode="ios">
          <ion-avatar slot="start">
           <img src="../../../../../assets/icon/semaforo.png">
          </ion-avatar>
          <ion-label>Parada 1 </ion-label>
      </ion-item>
      
    <ion-item lines="none"  mode="ios">
         <ion-avatar slot="start">
          <img src="../../../../../assets/icon/caseta.png">
      </ion-avatar>
        <ion-label>Por:Caseta</ion-label>
        <ion-icon name="md-share" slot="end" (click)="shareTravel()" class="shareStyle"></ion-icon>
    </ion-item>
      

    <ion-item lines="none" mode="ios">
        <i class="fas fa-walking" id="colorI"></i>
        <i class="fas fa-walking" id="colorI"></i>
        <i class="fas fa-walking" id="colorI"></i>
        <i class="fas fa-walking" id="colorI"></i>
      <ion-note slot="end"><h4><b>$60 C/U</b></h4></ion-note>
    </ion-item>
  </ion-list>
    <ion-button color="primary" class="buttons"  
        expand="block" (click)="confimarTravel()" 
                      >Confirmar viaje</ion-button>
  </div>


</ion-content>

