<p padding>HOY</p>
<ion-card class="styleCardTravel" (click)="detailNotification()" mode="ios">
  <ion-list mode="ios">
      <ion-item lines="none" mode="ios">
          <ion-icon name="md-more" slot="start"></ion-icon>
          <ion-label position="stacked">Punto de partida:</ion-label>
          <ion-input value="Foresta" readonly></ion-input>
      </ion-item>

      <ion-item lines="none" mode="ios"> 
          <ion-icon name="md-more" slot="start"></ion-icon> 
          <ion-label position="stacked">Punto de destino:</ion-label>
          <ion-input value="Metro polanco" readonly></ion-input>
      </ion-item>
  </ion-list>
</ion-card>
<p padding>25 Marzo 2019</p>
<ion-card  class="styleCardTravel" (click)="detailTravel()">
  <ion-list mode="ios">
      <ion-item lines="none" mode="ios">
          <ion-icon name="md-more" slot="start"></ion-icon>
          <ion-label position="stacked">Punto de partida:</ion-label>
          <ion-note slot="end"><b>Finalizado</b></ion-note>
          <ion-input value="Foresta" readonly></ion-input>
      </ion-item>

      <ion-item lines="none" mode="ios"> 
          <ion-icon name="md-more" slot="start"></ion-icon> 
          <ion-label position="stacked">Punto de destino:</ion-label>
          <ion-input value="Metro polanco" readonly></ion-input>
      </ion-item>
  </ion-list>
</ion-card>