.colorIco{
    color:white;
}

#colorI{
    color: var( --ion-color-primary );
    font-size: 2rem;
    padding-inline-start: 8px;
}

#colorIf{
    color: var( --ion-color-primary );
    font-size: 2rem;
}

ion-card{  
    width: 100%;
    border-color: white;
    box-shadow: 0px 0px 0px 0px;
}