<ion-header no-border>

<ion-toolbar color="menu">
    <ion-icon class="colorIco" name="arrow-back" slot="start"></ion-icon>
    <ion-title class="colorIco">Detalles del viaje</ion-title>
</ion-toolbar>

</ion-header>

<ion-content>
  <img src="../../../../assets/imgs/mapa.jpg">

<ion-list>

  <ion-item>
    <ion-label>23 Febrero 2017 8:15 AM</ion-label>
  </ion-item>

  <ion-item>

    <ion-card>
      <ion-item lines="none">
          <ion-avatar slot="start">
              <img src="../../../../assets/imgs/driver6.jpeg">
            </ion-avatar>
            <ion-label>Paola Ramirez</ion-label>
            <i class="far fa-comments" id="colorI" slot="end"></i>
            <i class="fas fa-phone" id="colorI" slot="end"></i>
      </ion-item>

      <ion-item lines="none">
          <ion-label text-center>MXMX12</ion-label>        
      </ion-item>

      <ion-item lines="none">
          <ion-label text-center>Doge Atttitude</ion-label>        
      </ion-item>
    </ion-card>

  </ion-item>

  <ion-item>
    <ion-card>
      <ion-item lines="none">
            <ion-label text-center>MX $ 50.00 </ion-label>
      </ion-item>

      <ion-item lines="none">
          <ion-label text-center>
              <i class="fab fa-gratipay" id="colorIf"></i> 
          </ion-label>
                 
      </ion-item>

      <ion-item lines="none">
          <ion-label text-center>Añadir a mis favoritos</ion-label>        
      </ion-item>
    </ion-card>
  </ion-item>


  <ion-item>
      <ion-label>Ayuda</ion-label>
      <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
  </ion-item>

</ion-list>

</ion-content>
