<ion-header no-border>

    <ion-toolbar color="menu">
        <ion-buttons slot="start">
            <ion-back-button class="colorIco"></ion-back-button>
          </ion-buttons>
        <ion-title class="colorIco">Detalles del viaje</ion-title>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content padding>
  
      <ion-item lines="none">
        <ion-label><h2><b>Salida de: San Miguel Metepec </b></h2></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><h2><b>Destino: Mundo E. Satelite</b></h2></ion-label>
      </ion-item>
 
    <ion-item lines="none">
      <ion-label>Solicitudes</ion-label>
    </ion-item>
  
    <ion-card>
      <ion-item lines="none">
        <ion-avatar slot="start">
        <img src="../../../../assets/imgs/driver6.jpeg">
        </ion-avatar>
        <ion-label>Paola Ramirez<p>3 Marzo 2019</p></ion-label>
        <i class="far fa-comments" id="colorI" slot="end"></i>
        <i class="fas fa-phone" id="colorI" slot="end"></i>
      </ion-item>

      <ion-item lines="none">
         <ion-avatar>
           <img src="../../../../assets/icon/pin.png">
         </ion-avatar>
        <ion-label>Palacio de hierro</ion-label>
        <ion-note slot="end"> <b>10:35 AM</b> </ion-note>
      </ion-item>

      <ion-item lines="none" text-center>
          <ion-label  color="primary">Aceptar</ion-label>
          <ion-label  color="danger">Cancelar</ion-label>
      </ion-item>
    </ion-card>
  

  
  
  </ion-content>
