.stylecardFav{
    position: absolute;
    right: -40%;
    top: 3rem;
    transform: translate(-40%, -40%); 
    width: 99%;
}
.cardFav{
    border-radius: 0%;
    box-shadow: 0px 0px 0px 0px;
}
#colorIcon{
    color: white;
}