<div class="stylecardFav">

  <ion-card class="cardFav">
    <ion-list>
      <ion-item lines="none">
        <ion-avatar slot="start">
        <ion-img src="../../../assets/imgs/driver6.jpeg"></ion-img>
      </ion-avatar>
      <ion-label>Paola Ramirez</ion-label>
      <ion-badge text="  "><i class="fas fa-car-side" id="colorIcon"></i>   22   </ion-badge>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
      <ion-img src="../../../assets/imgs/driver2.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Emilio Flores</ion-label>
    <ion-badge text="  "><i class="fas fa-car-side" id="colorIcon"></i>   52   </ion-badge>
  </ion-item>
  </ion-list>
</ion-card>

</div>