ion-card{
    border-radius: 20px;
    -webkit-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
}

.tableForm{
    width: 100%;
    margin: auto;
    text-align: initial;
    border-color: black;
    border: 15px;

}

.inputForm{
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    width: 85%;
}

.inputFormSelec{
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    width: 90%;
}

.buttons{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
    width: 70%;
    
}

.button{
    --border-radius: 10px;
    text-transform: unset;
    height: 55px;
    
}

.justify{
    width: 100%;
    text-align: center;
    margin: auto;
}

#colorI{
    color: var( --ion-color-danger );
    font-size: 2rem;
    padding-inline-start: 8px;
}

.cardHide{
    border-color: white;
    box-shadow: 0px 0px 0px 0px;
}

.colorIco{
    color:white;
}