<ion-header no-border>
  <ion-toolbar color="menu">
      <ion-buttons> 
          <ion-back-button class="colorIco" 
                           text=" "
                           defaultHref="/tabs/tabs/main"></ion-back-button>
          <ion-title class="colorIco">Agregar viaje</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<h4>Ingresa los siguientes datos para dar de alta un viaje</h4>

<h5>Ingresa los puntos de salida y destino</h5>

<ion-searchbar placeholder="Buscar" (click)="search()"></ion-searchbar>

<ion-card>
  <ion-list>
      <ion-item>
          <ion-icon name="md-more" slot="start"></ion-icon>
          <ion-label position="stacked">Punto de partida</ion-label>
          <ion-input clearInput placeholder="Mi ubicación"></ion-input>
      </ion-item>

      <ion-item lines="none"> 
          <ion-icon name="md-more" slot="start"></ion-icon> 
          <ion-label position="stacked">Punto de destino</ion-label>
          <ion-input clearInput placeholder="Observatorio CDMX"></ion-input>
      </ion-item>
  </ion-list>
</ion-card>
<br>
<ion-card  class="cardHide" padding mode="ios">
<table padding class="tableForm">

  <tr>
    <td padding>Lugares</td>
    <td padding>Cooperación</td>
  </tr>
  <tr>
    <td><ion-input class="inputForm" type="number"></ion-input></td>
    <td><ion-input class="inputForm" type="number"></ion-input></td>
  </tr>

  <tr>
    <td padding>Fecha</td>
    <td padding>Hora de salida</td>
  </tr>
  <tr>
    <td><ion-datetime class="inputForm" monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14" displayFormat="DD/MMM/YYYY"></ion-datetime></td>
    <td><ion-datetime class="inputForm" monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14" displayFormat="DD/MMM/YYYY"></ion-datetime></td>
  </tr>

  <tr>
    <td colspan="2" padding>Tipo de carretera</td>
  </tr>
  <tr>
    <td colspan="2"> 
      <select class="inputFormSelec" text-center padding>
        <option id="opcion1">Libre</option>
        <option id="opcion1">Caseta</option>
      </select>
    </td>
  </tr>

</table>
</ion-card>
<br>
<h5>Ingresa los puntos de parada</h5>

<div padding class="justify">
    <ion-button class="buttons" (click)="points()">+ Agregar</ion-button>
</div>


<ion-list lines="none">

  <ion-item lines="none">
    <ion-avatar>
      <img src="../../../../assets/icon/pin.png">
    </ion-avatar>
    <ion-label>Palacio de hierro</ion-label>
    <ion-note> <h3>9:10 AM</h3> </ion-note>
    <i class="fas fa-times" slot="end" id="colorI"></i>
  </ion-item>

  <ion-item lines="none">
      <ion-avatar>
        <img src="../../../../assets/icon/pin.png">
      </ion-avatar>
      <ion-label>Palacio de hierro</ion-label>
      <ion-note> <h3>9:10 AM</h3> </ion-note>
      <i class="fas fa-times" slot="end" id="colorI"></i>
  </ion-item>

  <ion-item lines="none">
      <ion-avatar>
        <img src="../../../../assets/icon/pin.png">
      </ion-avatar>
      <ion-label>Palacio de hierro</ion-label>
      <ion-note> <h3>9:10 AM</h3> </ion-note>
      <i class="fas fa-times" slot="end" id="colorI"></i>
    </ion-item>
    
</ion-list>

<ion-button class="button" expand="block"
            (click)="confirmationTavel()">Guardar y publicar viaje</ion-button>

</ion-content>
