<ion-header no-border>
  <ion-toolbar>
    <ion-back-button
                defaultHref="tabs/tabs/main"
                text=" "
                icon="arrow-round-back"
                mode="md"></ion-back-button>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-icon name="md-more" slot="start"></ion-icon>
                <ion-label position="stacked">De:</ion-label>
                <ion-input clearInput placeholder="Mi ubicación"></ion-input>
            </ion-item>

            <ion-item lines="none"> 
                <ion-icon name="md-more" slot="start"></ion-icon> 
                <ion-label position="stacked">¿A donde vas?</ion-label>
                <ion-input clearInput placeholder="Observatorio CDMX"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-list>
  <ion-item>
      <ion-icon name="heart-empty" slot="start"></ion-icon>
      <ion-label>Guardar ubicaciones</ion-label>
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
  </ion-item>

  <ion-item> 
      <ion-icon name="ios-time" slot="start" color="primary"></ion-icon> 
      <ion-label><p>Zocalo, Centro Histórico, Centro, CDMX</p> Av. Pino Suarez, 3345</ion-label>
  </ion-item>

  <ion-item> 
      <ion-icon name="ios-time" slot="start" color="primary"></ion-icon> 
      <ion-label><p>Zocalo, Centro Histórico, Centro, CDMX</p> Av. Pino Suarez, 3345</ion-label>
  </ion-item>

  <ion-item> 
      <ion-icon name="ios-time" slot="start" color="primary"></ion-icon> 
      <ion-label><p>Zocalo, Centro Histórico, Centro, CDMX</p> Av. Pino Suarez, 3345</ion-label>
  </ion-item>
  
</ion-list>

</ion-content>
