ion-card{
    border-radius: 20px;
    -webkit-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 24px 3px rgba(0,0,0,0.2);
}
